.cartCard {
  display: flex;
  gap: 2rem;
  width: 100%;
  border-radius: 15px;
  box-shadow: 1px 1px 2px 3px #d2d3d3;
  background-color: white;
  padding: 1rem 2rem;
  .image {
    width: 20%;
    aspect-ratio: 1/1;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  .about {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 1rem;
    h2 {
      font-size: 1.5rem;
      font-weight: 500;
    }
    h3 {
      font-size: 1rem;
      font-weight: 400;
    }
    p {
      font-weight: 500;
      font-size: 1.2rem;
      color: #888;
    }
    .total {
      color: #e94560;
    }
  }
  .cardRight {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .close {
      margin-left: auto;
    }
    i {
      font-size: 1.2rem;
      border-radius: 50%;
      padding: 0.5rem;
    }
    i:hover {
      background-color: #f3f5f9;
    }
    .quantity {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      .minus,
      .plus {
        font-size: 2.2rem;
        cursor: pointer;
        padding: 0;
        background-color: white;
      }
      .minus {
        color: #9ca5b5;
      }
      .plus {
        color: #e94560;
      }
    }
  }
}

.cartCard:hover {
  scale: 1.02;
  transition: all ease-in-out 0.4s;
}

@media (max-width: 767px) {
  .cartCard {
    flex-direction: column;
    
  }
}
