@import "../src/styles/mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

//login
.login,
.register {
  @include overlayDiv;
  form {
    @include form;

    .active {
      text-decoration: none;
      color: #f44366;
    }
    button {
      @include button;
      @include borderBtn;
    }
    button:hover {
      @include bgBtn;
    }
  }
}

.productsTitle {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
}

//Products Page
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  padding: 2rem 3rem;
  padding-bottom: 4rem;
}

.nothingInCart {
  text-align: center;
  color: #f94f6f;
  font-size: 4rem;
  font-weight: 600;
  padding: 4rem;
}

@media (max-width: 767px) {
  .login,
  .register {
    form {
      width: 90%;
    }
  }

  //Products page
  .productsTitle {
    margin-top: 0rem;
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 2rem;
  }
}
